<!-- <div class="vertical-center">

<h2>Welcome to the Dark Side</h2>

<pre style="font: 5px/2.5px monospace;">
                                   ``````````,`,
                               ```...```..,:,':;.``
                            `...........`````...#+,.;'`
                         `.,,..............```::+:,  `,,..
                       .,,,,,,,......,......,.,`,`.'@:#,, :
                     ,;:::,:,,,.,,:,,..,....,::##;:.::#+,,,..
                    #';;;:;,:,,,,,,.,,,,.`,:'::'#@@#@#;+:'.,. .
                  ;##+';;;::::,,,,,,.,::..,:,,,,'#@#+'+:#',,::.
                 ##++#''';;;::;::,,,,,,,.,,,...,;';.';',;.```:``
                +#####+';;;;;;;;:::,,,;,.,,,.......:#@+::.`.`.:
              `#######+';';';;;:::::::,,,..,...:;,.::;'#@`,.``..`
             .##+#+###+''''';;;;:;:::,,:,.,,...,...`,.;:`.`:`
            .##+#+#+#++'+'+';;::::::::::,,.,...,,;,.`...`..``
           `##++++++++'++++';+#######;,,,,,,,....`,.,:.#@..`,`::`
           +++++'''''''+'+'#######+####;,,.,,....`.``.;@@#+`,```.`.`
          #+#++'+++++#++#++######++######,,,,....`....+;@@#``+.`,`:
         @+++++++++++++'###+###+++########....,..`..`.,`..'+@++``.`#,
        :++@'+'+++++++'+#####+##+#########;.,...,...;,,:``::;'#';:+',.
        #+++#++++++'++'###############+####..,,..,.,,.;:.:@+:'##+:',
       ##+#++'+++++++;+######@#######+###+#:.,,....,;:@'@''+;::+;`,;' .
      `#+#+#+#++++++''#########@####+#######,,,,.....`.,,`,.;`#':';,:`,@@`
      @#+#+#++++++++;+#@#####@@########+####,,:,,:...,``,```````;'+'#+''+:
     :@+#+#+##++++++;+@############+@####+++:,:,,,..``..``,',,`,,:.:,'++
     +####+''++++++;;#@##++####+###+#####+++:,,.,,,.``.`.````;;::...:;'
    .#+@#+#+'++++++:;+#####+##+@@+###++++#++:::;+;,...,.``..,,:#;,:;,:`
    +###@@#''''++'+:'+#+#+####+@##+###++++++:::,:,,,.....```;,,.;;:';``.
    ##+###'++#'+#+#:;+@@#++##+#####+#++####+;:::;:,,...`:..`..,;,''#+',,,.`
   ,#+#+##'++####+#:;'+++++#####++###+++##+:;;::::,...,.+:.;:#';:':,`...  `
   #@#@#@#++#+#+#+#;;'##++++@########+#+#+#;;;:::,,,,.,:;+,,,,+.'##';,;.
   ###+++'#+#'+#'+#':;'#+++@##########++#+::';::::,,,,,.'.``````,,,;:,,:`
  ,#+#+++'++##@#++'+,:;'#+@##+########+##+;;;;;::;::::#.,,`.```````,###'::..
  #@#####+++++##'###+,:;'@@++#########+'+;';';::::::,,,..,::,:..```.':#;.`.
  ###+#@+++++#'#'++#@:::;'+++########+#+''';';;;:,,,,,,,,.+@@#.,;.,'#@@: `;.`
  ######+#+++#+#+++##+:,::''++#######+#'''+;'';:;;:,:,,.,::,.,..:: ,:;'++::`
 `#+####+++++'''++'#+@#',:::;;''''+';++'#'+'';;:;::,:,.........`:'.,...,:;;'`
 ,++#++++''+'#''+#'#'@#+#',,:::::;;++##+##+;+;;;;:;,,,;;;#',.'+ ;:,@'':'+':'`
 ;++++++''+++''+##+''#+++#@+#+++##@##@#+###'+;';;:;::;:;,:,'':,,::,;';''';+:`
 ;'+'+++''+++'''####'#+####+###@#+###@##@##+#';;;:::::...::,,:,`,:;.;.+'+#'';.,.`
 ;''''''''++#++'+#++'++#+#++#######@@@#+@@#'#'';;:;:::,,,,..,.,.` ;'+;';'',`,:.#':.
 +''+@@#+'';;'+'##'++@+'#+#+#+#++####@#+@#@@+''';:;;;:,.,,...:#,.:#@,::+.`` ,``:. :
 #+++'''''++@@#;';';:':':;'+#@@++###+@##@##@@''';:;;;:,,,.....`;.;,.,@++;`.```````,
 @#+++++++#+''';';'++##'+;';'+''++#'@##@+@#@@'+';:;;;:,,,,,.,`.`````,`,#:..`.,.`:..
 @+@+++'+++#+++++++'''''';'''##++''+'''+;:'++:'+':;:;::,,''.,`.``.``...,,..```.;```
 @#+##+++++##'++##+''''''''@@#;''++'';'+'+;''':;:;::,::,,:':,...`........,.`.:``.`.
 #@###++++#++'+##+++++#++++###@#+++@@'+'+'+''';;:;;;''';:,..`.``.`..`;.`.`...`````.
 +@#@#@++++'+'+++'+++++'+#++++##+#'##+'+'###+###+';:,,,,...`.`..,,:::::,,,,,,,::,``
 ;@@@@@##++'+'+++++'++'++++##:#'+#++#+@++###++#'+'';:::,::::,,,.:..`````````````.,
 .#@@@@##++'+++##'+'+++++++###+;+''++++'++#+++++''+';::,:::,,,,,....,.,,....`.,...
  @@@#@##++'+'+++++''+''++'##+#''#+++++''@+#+##+''+';;:::,,,,:,,...,,.@,.,..`.,:.;
  #@@@#+#@+;''++++++++'''+++###++#+++++'+@##+##++++;;;#+::,,,:,.::.,,;'..,,.,`.'',
  #@#@#@'+'''''+++++'+'+';'##'+'+#+++++'+@@#++###+;;;;+#:;:,,.:+;:''.@#':;;.,';@:`
  ;#+#@#'+'+''+''':''''''''+#+'++##+++#+#@+'+@@@#@#;;;';:;::,.,:'#+;'@@';;;,:::,.
   +#@#@++'+''+'+'#+##''''''+''#++@###+'@+#''#+@@@#;;;'+;::::,,,#::;:,,:.`,,;
   #@@#@+''+'+';'++'+##'+#+++####@#+###++#++;#+#+##;+;@#'#+#;',;@#;+#'+: .  ,;
   ;+#+#@'+'''+''+++##+'+++#'++##+#''#@###@##@@@###'+;+@#@#@@,:@######':.:,.
    #@@@#'''++#+@@@##@@+#++++++#@#@##+@@@#@@@@@@@@###'@@@###@#@@+:';;:., `..;, .
    ##@@##+'+++;;'@+#@@@##+#+#+###+''+@@@@@@@#@#@@@@#+###@#'@+''##``..`   `,;'`
    .++@@@#'##'@;##@@#@@@@++++++#@@++#@#@@@@@@@@@#@###+#@+':''#@@@'`           ,
     @@@@@@'#@@@@@@#@#@@@@'+'''#+##++@@@@@@@@@#@@@@+++#+++;;''+';'#'','    `` ,
     .##@@@#@@#@#@@@@+@#@@@@+''++#+'#@@@@##@@@@#+#'+''#;+;:,''++++; .';:,'    .
      @#@@@@#@+@++#+@@@@#@@#@@##+#+'+@@@@@@@@@@@##+:'+++#+@;#''''.,':        `
      `++#@@@@@##'+#@@@@@@@@@@@@@#@+@@###+#@@@@#@#+;'@@@@@#@++...::  .       ,
       @'##@@@@#+''#;'@####@@#@#++++@+@@##@@#@@###+''+@@@@#'',```,`         .`
        #++@@@#+++'''#@+@'#@#@@+@@++'+#'@@@@@@@@@@#+'''#@@+++#:`            ,
        +#+#@@@++'+''##'#''+++';##+#+##+@@@@@@@@@@@@++':;+;#:';            `
         @+++####'''''';#'++'+''+#@#@#;++@+@#@@@@@@##++;'+';'
         `#+'+''+''#+'''#'++'+'''+#'+'++'+'##++##@++'##'', `,
          ;##+'++++++++##+'+'''''#+##''+'''+';;;+'@@@@#++:
           #+++++++++#+++#+###+''+''';''';+++++'#+@@@@@@'
            ##''+#+'+++#'++++#+++#'++;'''@##@#+';+++@+++;;.
             ##+++''####+++#+##+''++++'+''''+++#+@#++#.;;:.```````````
         `````+@+++##+'++#++###+'''++''#+;+@#+;++#::'#+'+':.,```````````
      `````````++#+++###@##+''+#+''++'''''+'''#'#@@##':,:::```````````````
    ````````````:+##@@#+#######+++++'+#''++'++;'@##++;,```````````````````````
   ```````````````###@++#@###+###+++'###@##@++';'''';'``````````````````````````````
   ````````````````;@@@#+####@#@##++'##+'''++++++##;.,``````````````````````````````
    `````````````````#####+#@#+#+#+++#+++++'+'';'''+,``````````````````````````````
     ``````````````````+@#@+#@+###+#+##+'++'++'';;;.```````.,````````````
       ``````````````````'@#@@@#'#@#++++#+@+@';'+;``:.,`;:,`````````
          `````````````````;###@@+##'##+''+#+++++';;':;:`````
               ``````.........;#####@##@##+++'+'+#;:.`````
                     ````````````.:+#######++++;,`````
                                   `````````````


</pre>
</div> -->
